<div class="card shadow p-3 mb-5 mt-2 bg-white rounded">
  <div class="card-header">
    {{contact.name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{contact.phone}}</h5>
    <p class="card-text">{{contact.address}}</p>
    <p class="card-text">{{contact.notes}}</p>
    <div class="d-flex flex-wrap justify-content-between">
      <a class="btn btn-primary" [routerLink]="['/contacts', contact._id]">Edit</a>
      <button class="btn btn-danger float-end" (click)="confirmDelete = !confirmDelete">Delete</button>
      <button *ngIf="confirmDelete" class="btn btn-danger float-end" (click)="onDelete(contact._id)">Confirm</button>
    </div>
  </div>
</div>
