<div class="card shadow p-3 mb-5 mt-2 bg-white rounded">
  <div class="card-header">
    {{contact.name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{contact.phone}}</h5>
    <p class="card-text">{{contact.address}}</p>
    <p class="card-text">{{contact.notes}}</p>
    <div class="d-flex flex-wrap justify-content-between">
      <a class="btn btn-primary" [routerLink]="['/contacts', contact._id]">Edit</a>
      <button class="btn btn-danger float-end" (click)="confirmDelete = !confirmDelete">Delete</button>
    </div>

    <div *ngIf="confirmDelete" class=" d-flex flex-column align-items-center alert alert-warning mt-1" role="alert">
      <h3>Confirm delete</h3>
      <div class="d-flex flex-wrap justify-content-between col-12">
        <button class="btn btn-secondary" (click)="confirmDelete = !confirmDelete">Cancel</button>
      <button class="btn btn-danger" (click)="onDelete(contact._id)">Confirm</button>
      </div>
    </div>

  </div>
</div>
