<div class="card col-11 mt-3">
  <div class="card-title p-2">
    <button class="btn btn-primary float-end" (click)="showForm =! showForm">Add review</button>
  </div>

  <form (ngSubmit)="addContact()" *ngIf="showForm" class="p-2">
    <div class="alert alert-danger" role="alert" *ngIf="alertForm">
      Name and phone are required fields
    </div>

    <div class="form-group mt-2">
      <label for="name">Name</label>
      <input [(ngModel)]="newContact.name" type="text" class="form-control" id="name" name="name" placeholder="Enter Name"
             required>
    </div>

    <div class="form-group mt-2">
      <label for="phone">Phone</label>
      <input [(ngModel)]="newContact.phone" type="text" class="form-control" id="phone" name="phone"
             placeholder="Enter Phone" required>
    </div>

    <div class="form-group mt-2">
      <label for="address">Address</label>
      <input [(ngModel)]="newContact.address" type="text" class="form-control" id="address" name="address"
             placeholder="Enter Address" required>
    </div>

    <div class="form-group mt-2">
      <label for="notes">Notes</label>
      <textarea [(ngModel)]="newContact.notes" type="text" class="form-control" id="notes" name="notes"
                placeholder="Enter Notes" required></textarea>
    </div>

    <button class="btn btn-danger mt-2" (click)="showForm = !showForm">Cancel</button> &nbsp;
    <button type="submit" class="btn btn-primary mt-2 float-end">Add</button>

  </form>

  <div class="container">
    <app-contact-item *ngFor="let contact of contacts; let i = index" class="item{{i+1}}" [contact]="contact" (handleDelete)="deleteContact($event)"></app-contact-item>
  </div>

</div>
<!--d-flex flex-wrap justify-content-around col-11 p-2 mb-3-->
