.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 7px;
  grid-auto-flow: row;
  grid-template-areas:
    "1 2 3 6"
    "4 5 6";
}

.item1 {
  grid-area: 1;
}

.item2 {
  grid-area: 2;
}

.item3 {
  grid-area: 3;
}

.item4 {
  grid-area: 4;
}

.item5 {
  grid-area: 5;
}
