<div class="d-flex flex-column align-items-center mt-3">
  <form (ngSubmit)="editContact()" class="col-12 col-md-8 border border-primary rounded shadow p-3 mb-5 bg-white p-2">
    <h1 class="display-1">Edit Contact</h1>
    <div class="alert alert-danger" role="alert" *ngIf="alertForm">
      Name and phone are required fields
    </div>

    <div class="form-group mt-2">
      <label for="name">Name</label>
      <input [(ngModel)]="newContact.name" type="text" class="form-control" id="name" name="name"
             placeholder="Enter Name"
             required>
    </div>

    <div class="form-group mt-2">
      <label for="phone">Phone</label>
      <input [(ngModel)]="newContact.phone" type="text" class="form-control" id="phone" name="phone"
             placeholder="Enter Phone" required>
    </div>

    <div class="form-group mt-2">
      <label for="address">Address</label>
      <input [(ngModel)]="newContact.address" type="text" class="form-control" id="address" name="address"
             placeholder="Enter Address" required>
    </div>

    <div class="form-group mt-2">
      <label for="notes">Notes</label>
      <textarea [(ngModel)]="newContact.notes" type="text" class="form-control" id="notes" name="notes"
                placeholder="Enter Notes" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-2 float-end">Edit</button>

  </form>
</div>
